<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Full Friends Assigment</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div>
		<form action="/updateFriend" method="post">
			<p>First Name: <input type="text" name="first_name" value="{{ friend[0].first_name }}"></p>
			<p>Last Name: <input type="text" name="last_name" value="{{ friend[0].last_name }}"></p>
			<p>Occupation: <input type="text" name="occupation" value="{{friend[0].occupation }}"></p>
			<input type="hidden" name="id" value="{{ friend[0].id }}">
			<input type="submit" name="submit" value="Update">
		</form>
		<form action="/deleteFriend" method="post">
			<input type="hidden" name="id" value="{{ friend[0].id }}">
			<input type="submit" name="submit" value="Delete">
		</form>
	</div>
</body>
</html>