<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Full Friends Assigment</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div>
		<h2>Current Friends: </h2>
		{% for friend in friends %}
		    {% if friend %}
		        <p>{{friend.first_name}} {{ friend.last_name }}</p>
		        <form action="/friends/{{ friend.id }}/edit" method="post">
		        	<input type="submit" name="submit" value="Edit Friend">
		        </form>
		        <form action="/friends/{{ friend.id }}/delete" method="post">
		        	<input type="submit" name="submit" value="Delete Friend">
		        </form>
		        <hr>
		    {% endif %}
	  	{% endfor %}
	</div>
	<hr>
	<hr>
	<div>
		<h2>Add New Friend: </h2>
		<form action="/friends" method="post">
			<p>First Name: <input type="text" name="first_name"></p>
			<p>Last Name: <input type="text" name="last_name"></p>
			<p>Occupation: <input type="text" name="occupation"></p>
			<input type="submit" name="submit" value="Add Friend">
		</form>
	</div>
</body>
</html>