<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Email Validation With Db Assigment</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div>
		<form action="/verifyEmail" method="post">
			<p>Email address: <input type="text" name="email" width="300"></p>
			{% with messages = get_flashed_messages() %}
			    {% if messages %}
			      {% for message in messages %}
			        <p class="error">{{message}}</p>
			      {% endfor %}
			    {% endif %}
		  	{% endwith %}
			<input type="submit" name="submit" value="Button">
		</form>
	</div>
</body>
</html>