.green_background{
  background-color: green;
  border: 2 px solid black
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: 50px;
  font-size: 13px;
}
.red_background{
  background-color: red;
  border: 2 px solid black
  margin: 10px;
  padding: 10px;
  width: 150px;
  height: 30px;
  font-size: 15px;
  color: white;
}

tr:nth-child(odd){
	background-color: lightblue;
}
tr{
	background-color: azure;
}
a{
  color: black;
}
td{
  padding: 3px 6px 3px 6px;
}
table{
  border: 2px solid black
}
