.error{
  color: red;
}
.errors{
  width: 300px;
  margin: 5px;
  border: 1px solid black;
  font-size: 10px;
}
.btn{
  background-color: darkblue;
  color: white;
  width: 60px;
  height: 25px;
}
.greenText{
  color: green;
}
