#score{
	width: 100px;
	height: 15px;
	padding: 5px;
}
div{
	border: 1px solid black;
	margin: 20px;
}
div#places div{
	width: 200px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 15px;
}
#activities{
	width: 970px;
	height: 150px;
	scroll-behavior: auto;
}
.redText{
	color: red
}
.greenText{
	color: green;
}