<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}"media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <!-- Below is an example of how to access a many to many table from the table that does NOT have the ManyToToMayField defined -->
    <!-- {% for user in users %}
      {{user.courses.count}}
       <p>{{ user.first_name }}: {{ user.courses.count }} </p>
    {% endfor %} -->

    <form action="{% url 'courses:linkUserToCourse' %}" method="post">
      {% csrf_token %}
       <p>Users:
         <select name="user_id">
           {% for user in users %}
              <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
           {% endfor %}
         </select>
       </p>
       <p>Courses:
         <select name="course_id">
           {% for course in courses_users %}
              <option value="{{ course.id }}">{{ course.name }}</option>
           {% endfor %}
         </select
       </p>
      <p><input type="submit" name="submit"></p>
    </form>
    <table id="courses_users" style="width:50%">
      {% if courses_users %}
        <tr>
          <th>Course</th>
          <th>Title</th>
          <th>Number of Users</th>
        </tr>
        {% for course in courses_users %}
          <tr>
            <td>{{ course.id }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.user.count }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
    <a href="/courses/">Return Home</a>
  </body>
</html>
