<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'email_validation/css/style.css' %}"media="screen" title="no title" charset="utf-8">
    <title>Email Verification Assignment</title>
  </head>
  <body>
    <!-- Only show below div if user added an email. Showing emails after a deletion is not needed. -->
    {% if new_email %}
      <div class="green_background">
          The email address you entered ({{ new_email }}) is a VALID email address! Thank you!
      </div>
    {% endif %}
    <h3>Email Addresses Entered</h3>
    <table>
      {% for email in emails %}
        <tr>
          <td>{{ email.email }}</td>
          <td>{{ email.created_at }}</td>
          <td><a href="/removeEmail/{{ email.id }}">remove</a></td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
